* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
}

form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
}

fieldset:nth-of-type(3) {
	display: none;
}

form:has(input[value="yes"]:checked) fieldset:nth-of-type(3) {
	display: block;
}

input:valid {
	background-color: limegreen;
}
