:root {
	--secondary-color: rgb(255, 198, 30);
	--primary-color: rgb(0, 51, 127);
	--accent-color: rgb(107, 106, 122);
}

@supports (color: color(display-p3 1 1 1)) {
	:root {
		--secondary-color: color(display-p3 1 0.776 0.118);
		--primary-color: color(display-p3 0 0.2 0.498);
		--accent-color: color(display-p3 0.42 0.416 0.478);
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 1rem;
	width: 100lvw;
	max-width: fit-content;
}

form {
	/* display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0.5rem;
	width: fit-content;
	max-width: 100vw; */
}

legend {
	font-weight: bold;
}

.has-js {
	fieldset:nth-of-type(3) {
		display: none;
	}
}

form:has(input[name="married"][value="yes"]:checked) [data-openklap="married"] {
	display: flex;
	flex-direction: column;
}

form fieldset {
}

input:valid {
	background-color: limegreen;
}

/* /////////////////////////////////////////////////////////////////// */

/* @media; */
